<%- include("../partials/header") %>

<div class="container">
  <% if(currentUser && currentUser.isAdmin) { %>
  <h1>You are logged as admin!</h1>
  <% } %>
  <header class="jumbotron">
    <div class="container">
      <h1>Welcome To Something by MN!</h1>
      <p>View our hand-picked ... something</p>
      <p>
        <a class="btn btn-primary btn-large" href="/campgrounds/new"
          >Add New Stuff</a
        >
      </p>
    </div>
  </header>

  <!--diplay-flex and fle-wrap will make all thumbnails follow the same line but some spacing issue will remain-->
  <div class="row text-center" style="display: flex; flex-wrap: wrap;">
    <!--loop through each object of the array-->
    <% campgrounds.forEach(function(campground){ %>
    <div class="col-md-3 col-sm-6">
      <div class="thumbnail">
        <!--to get the "image" from the array-->
        <img src="<%= campground.image %>" />
        <div class="caption">
          <!--to get the "name" from the array-->
          <h4><%= campground.name %></h4>
        </div>
        <p>
          <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary"
            >More Info</a
          >
        </p>
      </div>
    </div>
    <% }); %>
  </div>
</div>

<%- include("../partials/footer") %>
