<%- include("../partials/header") %>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h3>USER PROFILE: <%= user.firstName + " " + user.lastName %></h3>
      <p></p>
      <a href="/follow/<%= user.id %>"
        ><button class="btn btn-primary">Follow <%= user.username %></button></a
      >
      </p>
      <div class="thumbnail">
        <img
          class="rounded"
          src="<%= user.avatar %>"
          alt="user profile image"
        />
        <div class="caption">
          <a href="mailto:<%= user.email %>"
            >Send email to: <%= user.email %></a
          >
        </div>
        <% if(currentUser){ %>
        <div class="caption">
          <a href="/forgot">Reset your password?</a>
        </div>
        <% } else { %>
        <div class="caption">
          <a href="/login">Login</a>
        </div>
        <% } %>
      </div>
      Lorem ipsum
    </div>
    <div class="col-md-8">
      <h3><%= user.username %>'s entries:</h3>
      <ul>
        <% campgrounds.forEach(function(campground) { %>
        <li>
          <a href="/campgrounds/<%= campground.id %>"><%= campground.name %></a>
        </li>
        <% }); %>
      </ul>
    </div>
  </div>
</div>
</div>

<%- include("../partials/footer") %>
